div(ng-include="'app/components/navbar/navbar.html'")
div.container
  div.addEmployee
    h1 Employees
    a.btn.btn-primary.pull-right(ng-href="/employees/new") Add Employee

  di.table-responsive
    table.table.table-hover
      thead
        tr
          th Name
          th Email
          th Admin
          th Active
      tbody
        tr(ng-repeat="employee in employees" 
          ui-sref="showEmployee({id:employee.id})")
          td {{ employee.name }}
          td {{ employee.email }}
          td No
          td Yes
          
