<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        DoorAPI
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/') }"><a ng-href="/">Home</a></li>
        <li ng-class="{ active: isActive('/employees') }" ng-show="user.id"><a ng-href="/employees">Employees</a></li>
        <li ng-class="{ active: isActive('/sign_in') }" ng-show="!user.id"><a ng-href="/sign_in">Sign in</a></li>
        <li ng-show="user.id"><a ng-href="/" ng-click='signOut()'>Sign out</a></li>
      </ul>

    </div>
  </div>
</nav>
